body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #667eea, #764ba2);
  padding: 20px;
  color: white;
}

h1, h2 {
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

input, select {
  padding: 8px;
  border-radius: 5px;
  border: none;
}

button {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  background: #00e676;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #00c853;
}

table {
  width: 100%;
  background: white;
  color: black;
  border-radius: 10px;
  overflow: hidden;
}

th, td {
  padding: 10px;
  text-align: center;
}

th {
  background: #222;
  color: white;
}

.update {
  background: #40c4ff;
}

.delete {
  background: #ff5252;
  color: white;
}

/* SEARCH TOGGLE */
.search-box {
  margin-top: 40px;
  background: rgba(0,0,0,0.3);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.reset {
  background: #ffab00;
}
